<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfx.dao.SeatResverMapper">
  <resultMap id="BaseResultMap" type="com.zfx.entity.SeatResver">
    <id column="resverID" jdbcType="INTEGER" property="resverid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="seatID" jdbcType="INTEGER" property="seatid" />
    <result column="bTime" jdbcType="TIMESTAMP" property="btime" />
    <result column="eTime" jdbcType="TIMESTAMP" property="etime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resverID, userID, seatID, bTime, eTime, state
  </sql>
  <select id="selectByExample" parameterType="com.zfx.entity.SeatResverExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_seatresver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_seatresver
    where resverID = #{resverid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_seatresver
    where resverID = #{resverid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zfx.entity.SeatResverExample">
    delete from tb_seatresver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zfx.entity.SeatResver">
    insert into tb_seatresver (resverID, userID, seatID, 
      bTime, eTime, state
      )
    values (#{resverid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{seatid,jdbcType=INTEGER}, 
      #{btime,jdbcType=TIMESTAMP}, #{etime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zfx.entity.SeatResver">
    insert into tb_seatresver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resverid != null">
        resverID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="seatid != null">
        seatID,
      </if>
      <if test="btime != null">
        bTime,
      </if>
      <if test="etime != null">
        eTime,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resverid != null">
        #{resverid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="seatid != null">
        #{seatid,jdbcType=INTEGER},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zfx.entity.SeatResverExample" resultType="java.lang.Long">
    select count(*) from tb_seatresver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_seatresver
    <set>
      <if test="record.resverid != null">
        resverID = #{record.resverid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.seatid != null">
        seatID = #{record.seatid,jdbcType=INTEGER},
      </if>
      <if test="record.btime != null">
        bTime = #{record.btime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.etime != null">
        eTime = #{record.etime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_seatresver
    set resverID = #{record.resverid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      seatID = #{record.seatid,jdbcType=INTEGER},
      bTime = #{record.btime,jdbcType=TIMESTAMP},
      eTime = #{record.etime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zfx.entity.SeatResver">
    update tb_seatresver
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="seatid != null">
        seatID = #{seatid,jdbcType=INTEGER},
      </if>
      <if test="btime != null">
        bTime = #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="etime != null">
        eTime = #{etime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where resverID = #{resverid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zfx.entity.SeatResver">
    update tb_seatresver
    set userID = #{userid,jdbcType=INTEGER},
      seatID = #{seatid,jdbcType=INTEGER},
      bTime = #{btime,jdbcType=TIMESTAMP},
      eTime = #{etime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where resverID = #{resverid,jdbcType=INTEGER}
  </update>
</mapper>
